@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Nunito Sans', sans-serif;
}

.light-mode{
   background-color: hsl(0, 0%, 98%);
}

.test{
   background-color: #858585;
}

.filter-Input{
   background-image: url("./assets/lens-icon.svg");
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: 5% 50%;
}
.filter-Input::placeholder {
   font-size: 16px;
   font-weight: 500;
   color: #858585;
}